.messageWrapper {
  padding: 0.5rem 1rem 1rem 1rem;
  margin-bottom: 0.7rem;
  max-width: 80%;
  word-wrap: break-word;
  position: relative;
  max-width: 85%;
}

.ownMessage {
  background-color: #007aff;
  color: white;
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
}

.otherMessage {
  background-color: #e5e5ea;
  color: black;
  align-self: flex-start;
  border-radius: 1rem 1rem 1rem 0rem;
}

.messageContent {
  margin: 0;
  font-size: 1rem;
  white-space: pre-line;
}

.sentAt {
  font-size: 0.6rem;
  text-align: right;
  opacity: 0.7;
  position: absolute;
  bottom: .1rem;
  right: .5rem;
  pointer-events: none;
}

.senderName {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  position: absolute;
  bottom: calc(100% - 3px);
  left: .7rem;
}