@use '@/styles/mixins/mixins/breakpoints.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
  width: 100%;

  @include breakpoints.from-tablet {
    min-height: 350px;
    padding: 0 0 2rem 0;
    gap: 1rem;
    width: 45rem;
    max-width: var(--max-content-width);
  }

  .content {
    display: grid;
    justify-items: center;
    grid-template-rows: minmax(auto, 92px) minmax(auto, 92px) 1fr minmax(auto, 50px);
    height: 100%;
    gap: 1rem;
    width: 100%;
  
    .submitWrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include breakpoints.from-tablet {
        justify-content: end;
      }
  
      .submit {
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
        border-radius: .4rem;
        color: white;
        padding: 0rem 2rem;
        width: 80%;
        max-width: 300px;
        min-width: 150px;
        min-height: 50px;

        @include breakpoints.from-tablet {
          width: auto;
        }
      }
    }
  }
}


