@use '../../styles/mixins/mixins/_breakpoints.scss';

.bg {
    background-color: var(--main-gray);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    @include breakpoints.from-tablet { 
        overflow: auto;
        position: static;
    }
}